<!--<div class="bg-light">-->
<!--  <nav class="navbar navbar-expand-sm ">-->
<!--    <div class="col-md-2">-->
<!--      <a class="navbar-brand text-dark" href="#">Luxstay</a>-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-dark mr-2" href="#">Về chúng tôi</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-dark mr-2" href="#">Chính sách và điều khoản sử dụng</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-dark mr-2" href="#">Bảo mật</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="col-md-2">-->
<!--      <div class="rounded-circle bg-warning float-left mr-2">-->
<!--        <a href="#"><img src="../../../assets/images/facebook.jpg" height="36px" width="36px"/></a>-->
<!--      </div>-->
<!--      <div class="rounded-circle bg-warning float-left mr-2">-->
<!--        <a href="#"><img src="../../../assets/images/twitter.jpg" height="36px" width="36px"/></a>-->
<!--      </div>-->
<!--      <div class="rounded-circle bg-warning float-left mr-2">-->
<!--        <a href="#"><img src="../../../assets/images/instagam.jpg" height="36px" width="36px"/></a>-->
<!--      </div>-->
<!--      <div class="rounded-circle bg-warning float-left mr-2">-->
<!--        <a href="#"><img src="../../../assets/images/youtube.png" height="36px" width="36px"/></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <div class="row ml-4 mt-4  pb-3 ">-->
<!--    © 2020 Luxstay. Bản quyền thuộc về Công ty TNHH Luxstay Việt Nam. Mọi hành vi sao chép đều là phạm pháp nếu không có-->
<!--    sự cho phép bằng văn bản của chúng tôi.-->
<!--  </div>-->
<!--</div>-->

<div class="container col-md-12">
  <div class="footer">
    <div class="row col-md-12">
      <div class="col-md-2 logo-phone-messenger">
        <div>
          <img src="../../../../assets/images/download.png" style="width: 100%; height: auto" alt="">
        </div>
        <div>
          <div>
            <img src="../../../../assets/images/Capture.PNG" style="float: left" alt="">
          </div>
          <div>
            <strong>Messenger
            </strong>
            http://m.me/Asahi.Luxstay
          </div>
          <div>
            <img src="../../../../assets/images/Capture1.PNG" style="float: left" alt="">
          </div>
          <div>
            <strong>Call Center</strong>
            18006586 (Việt Nam)
          </div>
        </div>
      </div>
      <div class="footer-div-1 col-md-3">
        <h5>TOP HOMESTAY ĐƯỢC YÊU THÍCH</h5>
        <ul>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/lam-dong/da-lat">Homestay Đà Lạt</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/ha-noi">Homestay Hà Nội</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/ho-chi-minh">Homestay Hồ Chí Minh</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/lao-cai/sa-pa">Homestay Sapa</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/ba-ria-vung-tau/vung-tau">Homestay Vũng Tàu</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/vinh-phuc/tam-dao">Homestay Tam Đảo</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/quang-nam/hoi-an">Homestay Hội An</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/da-nang">Homestay Đà Nẵng</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/quang-ninh/ha-long">Homestay Hạ Long</a>
          </li>
          <li>
            <a href="https://www.luxstay.com/vi/vietnam/binh-thuan/phan-thiet">Homestay Phan Thiết</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Không Gian Ưu Thích</h5>
        <ul>
          <li>
            <a href="">Căn hộ dịch vụ</a>
          </li>
          <li>
            <a href="">Biệt Thự</a>
          </li>
          <li>
            <a href="">Nhà Riêng</a>
          </li>
          <li>
            <a href="">Studio</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Về Chúng Tôi</h5>
        <ul>
          <li>
            <a href="">Blog</a>
          </li>
          <li>
            <a href="">Điều khoản hoạt động</a>
          </li>
          <li>
            <a href="">1900 8080</a>
          </li>
          <li>
            <a href="">+84 904 366030</a>
          </li>
          <li>
            <a href="">info@Asahi.Luxstay.com</a>
          </li>
          <li>
            <a href="">Trang thông tin dành cho chủ nhà</a>
          </li>
          <li>
            <a href="">Cơ hội nghề nghiệp</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Tải Ứng Dụng Asahi</h5>
        <div class="col-md-6">
          <img src="../../../../assets/images/Capture3.PNG" alt="">
        </div>
        <div class="col-md-6">
          <img src="../../../../assets/images/Capture4.PNG" alt="">
          <img src="../../../../assets/images/Capture5.PNG" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container col-md-12 footer-bottom">
  <div class="row col-md-12">
    <div class="col-md-4">
      <h5>SECURE YOUR TRANSACTION</h5>
      <img src="https://www.luxstay.com/icons/visa.svg" alt="">
      <img src="https://www.luxstay.com/icons/mastercard.svg" alt="">
      <img src="https://www.luxstay.com/icons/maestro.svg" alt="">
    </div>
    <div class="col-md-3">
      <h5>CERTIFICATION</h5>
      <img src="../../../../assets/images/bct.png" style="width: 100px ; height: 50px" alt="">
      <img src="../../../../assets/images/dmca.png" style="width: 100px ; height: 40px" alt="">
    </div>
    <div class="col-md-3">
      <h5>FOLLOW US</h5>
      <div class="rounded-circle bg-warning float-left mr-2">
        <a href="#"><img src="../../../assets/images/facebook.jpg" height="36px" width="36px"/></a>
      </div>
      <div class="rounded-circle bg-warning float-left mr-2">
        <a href="#"><img src="../../../assets/images/twitter.jpg" height="36px" width="36px"/></a>
      </div>
      <div class="rounded-circle bg-warning float-left mr-2">
        <a href="#"><img src="../../../assets/images/instagam.jpg" height="36px" width="36px"/></a>
      </div>
      <div class="rounded-circle bg-warning float-left mr-2">
        <a href="#"><img src="../../../assets/images/youtube.png" height="36px" width="36px"/></a>
      </div>
    </div>
    <div class="row ml-3 mt-3 pb-4">
      © 2020 Asahi Luxstay. Bản quyền thuộc về Công ty Asahi Luxstay. Mọi hành vi sao chép đều là phạm pháp nếu không
      có sự cho phép bằng văn bản của chúng tôi.
    </div>
  </div>
</div>
